:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fafafa;
	--secondaryText:#eeeeee;

	--themeDotBorder:#fafafa;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#373841;


	--buttonColor:#3d494b;


}